---
import SocialList from "@/components/SocialList.astro";
import { Icon } from "astro-icon/components";
---

<div>
  <ul class="list-none space-y-3 ps-0 leading-relaxed">
    <li class="ps-0">
      <Icon name="solar:chef-hat-heart-line-duotone" class="mr-2 inline-block h-5 w-5" />a father
    </li>
    <li class="ps-0">
      <Icon name="solar:code-bold-duotone" class="mr-2 inline-block h-5 w-5" />like coding
    </li>
    <li class="ps-0">
      <Icon name="solar:gamepad-line-duotone" class="mr-2 inline-block h-5 w-5" />presently as ceo
      of <a class="cactus-link" href="https://www.taptap.com/">TapTap</a>, co-founder of <a
        class="cactus-link"
        href="https://www.xd.com/">XD Inc</a
      >
    </li>
    <li class="ps-0">
      <Icon
        name="solar:turntable-music-note-line-duotone"
        class="mr-2 inline-block h-5 w-5"
      />previously as co-founder of <a class="cactus-link" href="https://www.verycd.com/">VeryCD</a>
    </li>
  </ul>
  <div class="mt-3">
    <SocialList />
  </div>
</div>
